.button{
    /* background-color: #ff4343;  */
    border: none;
    color: white;
    padding: 15px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
